<!DOCTYPE html>
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<title>Conference Twitter Wall</title> 
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
</head> 

<body class="hflex-wrapper"> 


    
  <div class="vflex-wrapper50"> 
  
  
    <div id="logo">
    <img src="images/openbelgium_small.png"/>
    </div>
    
    <div id="schedule">
      <!-- style the schedule as you please -->
      <div id="welcome" data-time="1000">
        <p>Next: 10:00</p><h3>Welcome by board of Open Knowledge Belgium and partners.</h3>
      </div>
      <div id="opendatainbelgium" data-time="1010">
        <p>Next: 10:10</p><h2>Michiel Mentens</h2><h3>Open Data in Belgium</h3>
      </div>
      <div id="opendatainwallonia" data-time="1025">
        <p>Next: 10:25</p><h2>Bernard Rentier</h2><h3>Open Data in Wallonia</h3>
      </div>
      <div id="plenary_panel" data-time="1040">
        <p>Next: 10:40</p><h3>Panel with Federal and regional government officials on future open efforts</h3>
      </div>
      <div id="break" data-time="1110">
        <p>Next: 11:10</p><h3>Coffee!</h3><p>Back in 20 minutes</p>
      </div>
      <div id="digitalsinglemarket" data-time="1130">
        <p>Next: 11:30</p><h2>Jörgen Gren</h2><h3>The Digital Single Market and Open Data from a European perspective</h3>
      </div>
      <div id="inbo" data-time="1200">
        <p>Next: 12:00</p><h2>Dimitri Brosens</h2><h3>Research Institute for Nature and Forest (INBO): (r)evolution towards an open research institute</h3>
      </div>
      <div id="nextride" data-time="1215">
        <p>Next: 12:15</p><h2>NextRide &amp; TEC</h2><h3>The rise of a startup made possible by an open data initiative.</h3>
      </div>
      <div id="lunch" data-time="1230">
        <p>Next: 12:30</p><h3>Lunch</h3><p>Walking dinner in the Foyer</p>
      </div>
      <div id="pc_opentransport" data-time="1330">
        <p>Next: 13:30</p><h2>Pieter Colpaert <a href="http://twitter.com/pietercolpaert">@pietercolpaert</a></h2><h3>Open Transport: from data source to journey planner</h3><p>Plein Ciel</p>
        <br/>
        <h2>Jan Vansteenlandt <a href="http://twitter.com/coreation">@coreation</a></h2><h3>Open data tools &amp; standards: how to bring open data to its full potential</h3><p>Auditorium Félicien Rops</p>
        <br/>
        <h2>Raf Buyle <a href="http://twitter.com/rafke">@rafke</a></h2><h3>Open Tourism: the importance of enriching your online content with semantic annotations</h3><p>Constantin Meunier</p>
        <br/>
        <h2>Barbara Dierckx</h2><h3>Open Culture: tackling the barriers with benefits</h3><p>René Magritte</p>
      </div>
      
      <div id="break2" data-time="1500">
        <p>Next: 15:00</p><h2>Coffee!</h2><h3>Back in half an hour</h3>
      </div>
      
      <div id="pc_openscience" data-time="1530">
        <p>Next: 15:30</p><h2>Gwen Franck &amp; Inge van Nieuwerburgh</h2><h3>Open Science: Beyond free access</h3><p>Plein Ciel</p>
        <br/>
        <h2>Wouter Degadt</h2><h3>Local Data: Get your local open data here</h3><p>Auditorium Félicien Rops</p>
        <br/>
        <h2>Tanguy de Lestré</h2><h3>Open Business: Uptake, usage and emerging business models</h3><p>Constantin Meunier</p>
        <br/>
        <h2>Ben Abelshausen</h2><h3>OpenStreetMap: It's the community, stupid!</h3><p>René Magritte</p>
      </div>
      
      
    </div> 
    
    
    <div id="notices">
      <!-- here you create divs that are shown on a rotation, add fullscreen class, and customise the hold time with data-hold-time="3s" -->

      <div id="notice3" data-hold-time="3s" class="fullscreen">
        <img src="./images/openbelgium_big.png"/>
      </div>
    </div> 
    
    
    
  </div>
  

    
  <div id="twitterwall"> 
    <ul id="tweets"></ul> 
  </div> 

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong> 
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script> 
  <script src="app/js/jquery.min.js"></script> 
  <script src="app/js/app.js"></script>
</body> 
</html> 
 
 
 
 
 
 
 
